*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head{
    text-align: center;
    margin-top: 20px;
    
}

.head h1{
    margin-bottom: 10px;
    font-size: 58px;
    color:#b70000; 
    font-weight: bolder;

}

.head img{
    border-radius: 200px;
}

.mid{
    text-align: center;
    margin-top: 30px;
    
    
}

.mid .description{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;

}

.mid .ingredients-heading{
    margin-bottom: 10px;

}

ul.listing-ul{
    display: inline-block;
    list-style-type: circle;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.direction-heading{
    margin-top: 10px;
    margin-bottom: 10px;
}

ol.set-old{
    display: inline-block;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}


footer{
    text-align: center;
} 



footer .button {
    background-color: #313538; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 140px;
    border-radius: 12px;
    
  }