*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head{
    text-align: center;
    margin-top: 20px;
    
}

.head h1{
    margin-bottom: 10px;
    font-size: 58px;
    color:#b70000; 
    font-weight: bolder;

}

.head img{
    border-radius: 200px;
}

.mid{
    text-align: center;
    margin-top: 30px;
    
}

.mid .description{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;

}

.mid .ingredients-heading{
    margin-bottom: 10px;

}

ul.listing-ul{
    display: inline-block;
    list-style-type: circle;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}



