*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-section{
            background-image: url('../images/couple_cooking.jpg'); /* Replace 'hero-image.jpg' with your image file */
            background-size: cover; /* Cover the entire container */
            background-position: center; /* Center the image horizontally and vertically */
            height: 400px; /* Adjust the height to your preference */
            
            background-position: center;
            background-repeat: no-repeat;
            padding: 100px 0; /* Add padding to center text vertically */

        
}

.hero-section h1{
    font-size: 60px;
    color: red; 
    font-weight: bolder;
    margin-bottom: 5px;
    margin-left: 20px;
}

.hero-section p{
    font-size: 24px;
    color: black;
    margin-left: 20px;
    font-weight: 700;
}

.second-heading{
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}

.recipes-list{
    text-align: center;
    

}

.first{
    display: inline-block;
   
}

.first a {
    display: block;
    margin: 50px;
    width: 300px;
    height: 10px;
    background-color: #313538;
    padding: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
}

